.login-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--background-color);
}

.login-form {
  width: 90%;
  max-width: 450px;
  padding: 1.2rem 2rem;
  box-shadow: 0 4px 10px var(--border-color);
  border-radius: 1rem;
  background-color: var(--surface-color);
}

.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.login-form-heading {
  display: flex;
  gap: 0.8rem;
  color: var(--heading-color);
  justify-content: center;
  align-items: center;
}

.login-form-component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.person-icon {
  color: var(--primary-color);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--muted-text-color);
}

.visibility-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--muted-text-color);
  cursor: pointer;
}

.input-field {
  width: 100%;
  font-size: 0.9rem;
  height: 3rem;
  padding-left: 2.5rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  color: var(--text-color-primary);
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-color: var(--input-focus-border-color);
}

.input-field::placeholder {
  color: var(--input-placeholder-color);
}


.submit-btn {
  height: 3rem;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--button-bg-color);
  background-color: var(--button-bg-color);
  font-size: 1rem;
  color: var(--button-text-color);
  margin-top: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--button-hover-bg);
  border: var(--button-hover-bg);
}



.submit-btn.disabled-btn {
  background-color: #aaa;
  cursor: not-allowed;
}

.logout-btn{
  color: var(--primary-color);
}